#gridHome{
    display: grid;
    grid-template-areas: 
    "headerHome"
    "botonesHome"
    "footerHome";
    grid-template-rows: auto 70% auto;
}

header#headerHome{
    grid-area: headerHome;
}

section#botonesHome{
    grid-area: botonesHome;
}

footer#footerHome{
    grid-area: footerHome;
}